<form action="https://hyf-form-relay.vercel.app/api/form" method="post">
  <input type="email" name="email" />
  <input type="text" name="test" />
  <input
    type="hidden"
    name="return_url"
    value="https://example.org/test"
  />
  <input type="submit" name="button" value="Send" />
</form>
